<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wm.demo.mybatis.mapper.DepartmentMapper">

	<!-- TbSysUserVO getUserByUserId(String id); -->
	<select id="getDepById" resultType="com.wm.demo.mybatis.model.TbSysDep">
		select * from tb_sys_department where id = #{id}
	</select>
	
	
	<!-- TbSysDep getDepByIdPlus(String id); -->
	<!--嵌套结果集的方式，使用collection标签定义关联的集合类型的属性封装规则  -->
	<resultMap type="com.wm.demo.mybatis.model.TbSysDep" id="UnionDep">
		<id column="id" property="id"/>
		<result column="dep_name" property="depName"/>
		<!-- collection定义关联集合类型的属性的封装规则 ;ofType:指定集合里面元素的类型 -->
		<collection property="userList" ofType="com.wm.demo.mybatis.model.TbSysUser">
			<!-- 定义这个集合中元素的封装规则 -->
			<id column="user_id" property="userId"/>
			<result column="user_name" property="userName"/>
			<result column="passwork" property="password"/>
		</collection>
	</resultMap>
	<select id="getDepByIdPlus" resultMap="UnionDep">
		SELECT d.*,u.*
		FROM tb_sys_department d
		LEFT JOIN tb_sys_user u
		ON d.id=u.dep_id
		WHERE d.id=#{id}
	</select>
	
	<!-- TbSysDep getDepByIdStep(String id); -->
	<!-- collection：分段查询 -->
	<resultMap type="com.wm.demo.mybatis.model.TbSysDep" id="UnionDepStep">
		<id column="id" property="id"/>
		<id column="dep_name" property="depName"/>
			<result column="passwork" property="password"/>
		<collection property="userList" 
			select="com.wm.demo.mybatis.mapper.UserUnionDepMapper.getUserListByDepId"
			column="{depId=id}" fetchType="lazy"></collection>
	</resultMap>
	<select id="getDepByIdStep" resultMap="UnionDepStep">
		select d.* from tb_sys_department d where d.id=#{id}
	</select>
	
	<!-- 扩展：多列的值传递过去：
			将多列的值封装map传递；
			column="{key1=column1,key2=column2}"
		fetchType="lazy"：表示使用延迟加载；
				- lazy：延迟
				- eager：立即
	 -->
</mapper>